@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

@keyframes blink-border {
  0%,
  100% {
    border-color: #003366; /* vermelho */
  }
  50% {
    border-color: #fff; /* branco, ou qualquer cor neutra */
  }
}

.blink-border {
  animation: blink-border 0.5s ease-in-out 4; /* pisca 4 vezes (2s) */
}

/* Variáveis globais para temas claros e escuros */
:root {
  /* --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground); */

  --font-sans: 'Plus Jakarta Sans', 'Arial', 'Helvetica', sans-serif;
  --font-mono: 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

/* Estilos base para o corpo da aplicação */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
